<a href="https://colab.research.google.com/github/Payamfarahmand/ex.Conditional-Statements-and-Loops-beginner/blob/main/recent_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# This program prints numbers from 0 to 20.
# If a number is even, it prints the number.
# If a number is odd, it prints the word "ODD".

for n in range(21):  # Loop through numbers from 0 to 20 (inclusive)
    if n % 2 == 0:  # Check if the number is even (remainder of division by 2 is 0)
        print(n, end=" ")  # Print the even number followed by a space
    else:  # If the number is not even, it must be odd
        print("ODD", end=" ")  # Print "ODD" followed by a space

0 ODD 2 ODD 4 ODD 6 ODD 8 ODD 10 ODD 12 ODD 14 ODD 16 ODD 18 ODD 20

This program prints numbers from 0 to 20.
If a number is even, it prints the number.
If a number is odd, it prints the word "ODD".

In [ ]:
x = [0,1,2]
for item in x :
    print(item,end=" ")

0 1 2

This Code read a list and pass the each valuae of list to varibale that named item and repate to read all the value and print in this result and end=" " that print all data in a line with the Space .

In [ ]:
for item in range(len(x)):
  print(x[item], end=" ")

0 1 2

in this practice we want to use len that show len of the list and put it in the range that range genrate and with the number of the list then in print with x[] we show the position of the list print and if there is value  print it out

In [ ]:
for n in range(1,11):
    print(n*2,end =" ")

1 4 9 16 25 36 49 64 81 100

Conditional Statements and Loops - Exercise #1
Create a For loop that will print all the variables from a given list multiplied by 2. Let the list contain all numbers from 1 to 10. Create it with the help of the range() function.

In [ ]:
for n in range(1,31):
    if n % 2 != 0 :
        print(n,end = " ")
    else:
        print("Even", end = " ")

1 Even 3 Even 5 Even 7 Even 9 Even 11 Even 13 Even 15 Even 17 Even 19 Even 21 Even 23 Even 25 Even 27 Even 29 Even

Conditional Statements and Loops - Exercise #2
Create a small program that runs a loop over all values from 1 to 30. Let it print all odd numbers on the same line, and in the place of the even numbers, it should print "Even". Use the range() function to help solve this exercise.

In [ ]:
# Loop through numbers from 1 to 30
for n in range(1, 31):
    if n % 2 == 0:
        print("Even", end=" ")  # Print "Even" for even numbers
    else:
        print(n, end=" ")  # Print the number for odd numbers

1 Even 3 Even 5 Even 7 Even 9 Even 11 Even 13 Even 15 Even 17 Even 19 Even 21 Even 23 Even 25 Even 27 Even 29 Even

Another way to Write that Show Even the same as Upper Example

In [ ]:
n = [1,2,3,4,5,6]
for item in range(len(n)):

    print(n[item]*10 , end=" ")

10 20 30 40 50 60

You have the following list of numbers. Iterate over this list, printing out each list value multiplied by 10. Find two solutions of this problem.

In [ ]:
n = [1,2,3,4,5,6]
for item in n:

    print(item*10 , end=" ")

10 20 30 40 50 60

secound Soloution