<a href="https://colab.research.google.com/github/Payamfarahmand/ex.Conditional-Statements-and-Loops-beginner/blob/main/recent_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# This program prints numbers from 0 to 20.
# If a number is even, it prints the number.
# If a number is odd, it prints the word "ODD".

for n in range(21):  # Loop through numbers from 0 to 20 (inclusive)
    if n % 2 == 0:  # Check if the number is even (remainder of division by 2 is 0)
        print(n, end=" ")  # Print the even number followed by a space
    else:  # If the number is not even, it must be odd
        print("ODD", end=" ")  # Print "ODD" followed by a space

0 ODD 2 ODD 4 ODD 6 ODD 8 ODD 10 ODD 12 ODD 14 ODD 16 ODD 18 ODD 20

This program prints numbers from 0 to 20.
If a number is even, it prints the number.
If a number is odd, it prints the word "ODD".

In [ ]:
x = [0,1,2]
for item in x :
    print(item,end=" ")

0 1 2

This Code read a list and pass the each valuae of list to varibale that named item and repate to read all the value and print in this result and end=" " that print all data in a line with the Space .

In [ ]:
for item in range(len(x)):
  print(x[item], end=" ")

0 1 2

in this practice we want to use len that show len of the list and put it in the range that range genrate and with the number of the list then in print with x[] we show the position of the list print and if there is value  print it out

In [ ]:
for n in range(1,11):
    print(n*2,end =" ")

1 4 9 16 25 36 49 64 81 100

Conditional Statements and Loops - Exercise #1
Create a For loop that will print all the variables from a given list multiplied by 2. Let the list contain all numbers from 1 to 10. Create it with the help of the range() function.

In [ ]:
for n in range(1,31):
    if n % 2 != 0 :
        print(n,end = " ")
    else:
        print("Even", end = " ")

1 Even 3 Even 5 Even 7 Even 9 Even 11 Even 13 Even 15 Even 17 Even 19 Even 21 Even 23 Even 25 Even 27 Even 29 Even

Conditional Statements and Loops - Exercise #2
Create a small program that runs a loop over all values from 1 to 30. Let it print all odd numbers on the same line, and in the place of the even numbers, it should print "Even". Use the range() function to help solve this exercise.

In [ ]:
# Loop through numbers from 1 to 30
for n in range(1, 31):
    if n % 2 == 0:
        print("Even", end=" ")  # Print "Even" for even numbers
    else:
        print(n, end=" ")  # Print the number for odd numbers

1 Even 3 Even 5 Even 7 Even 9 Even 11 Even 13 Even 15 Even 17 Even 19 Even 21 Even 23 Even 25 Even 27 Even 29 Even

Another way to Write that Show Even the same as Upper Example

In [ ]:
n = [1,2,3,4,5,6]
for item in range(len(n)):

    print(n[item]*10 , end=" ")

10 20 30 40 50 60

You have the following list of numbers. Iterate over this list, printing out each list value multiplied by 10. Find two solutions of this problem.

In [ ]:
n = [1,2,3,4,5,6]
for item in n:

    print(item*10 , end=" ")

10 20 30 40 50 60

secound Soloution

In [1]:
nums = [1, 35, 12, 24, 31, 51, 70, 100]

def count():
    i = 0  # Index for the while loop
    count = 0  # Variable to keep track of the count
    while i < len(nums):
        if nums[i] < 20:
            count += 1
        i += 1
    return count

# Call the function
result = count()
print(result)  # Output the result

2

Conditional Statements, Functions, and Loops - Exercise #1
You are provided with the nums list. Define a function called count() containing a while loop to count the number of values in the nums list that are lower than 20.

In [2]:
prices = {
    "box_of_spaghetti": 4,
    "lasagna": 5,
    "hamburger": 2
}

quantity = {
    "box_of_spaghetti": 6,
    "lasagna": 10,
    "hamburger": 0
}

money_spent = 0

# Iterate over the products in the prices dictionary
for product in prices:
    if prices[product] >= 5:  # Check if the price is 5 dollars or more
        money_spent += prices[product] * quantity[product]

print(money_spent)  # Output the total money spent on items costing 5 dollars or more

50

prices = {
    "box_of_spaghetti": 4,
    "lasagna": 5,
    "hamburger": 2
}

quantity = {
    "box_of_spaghetti": 6,
    "lasagna": 10,
    "hamburger": 0
}
In this exercise you will use the same dictionaries as the ones we used in the lesson - prices and quantity. This time, don't just calculate all the money Jan spent. Calculate how much she spent on products with a price of 5 dollars or more.

In [4]:
prices = {
    "box_of_spaghetti" : 4,
    "lasagna"  : 5,
    "hamburger" : 2
   }
quantity = {
    "box_of_spaghetti" : 6,
    "lasagna"  : 10,
    "hamburger" : 0
    }
money_spent = 0


for i in prices :
    if prices[i] < 5 :
        money_spent += prices[i] * quantity[i]
print(money_spent)

24

prices = {
    "box_of_spaghetti" : 4,
    "lasagna"  : 5,
    "hamburger" : 2
   }
quantity = {
    "box_of_spaghetti" : 6,
    "lasagna"  : 10,
    "hamburger" : 0
    }
money_spent = 0
    How much did Jan spent on products that cost less than 5 dollars?
    they need a small change if prices[i]` < `5 :